header h1 {
    text-align: center;
}

.label {
    width: 100px;
    position: relative;
    display: inline-block;
}

.input {
    width: calc(100% - 120px);
}

.content-wrapper {
    position: relative;
    max-width: 700px;
    margin: auto;
}
#Check {
    position: relative;
    left: calc(100% - 40px);
    transform: translateX(-50% );
} 

#output {
    padding: 2px 4px;
    position: relative;
    left: 100px;
    color: red;
}

#output img {
    height: 18px;
    margin-right: 10px;
}